.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.card-service:nth-child(2) {
  transition-delay: 200ms;
}

.card-service:nth-child(3) {
  transition-delay: 400ms;
}



