
$primary: #ffffff;
$dark: #3f3f3f;


@import "../node_modules/bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

.bg-purple {
  background-color: #6600ff;
}

.purple {
  color: #6600ff;
}

//#F1C40F

.contact-icon {
  font-size: 220px;
}

.xl-text {
  font-size: 7rem;

  @media (max-width: 1200px) {
    font-size: 5rem;
  }
  @media (max-width: 992px) {
    font-size: 4rem;
  }
  @media (max-width: 768px) {
    font-size: 3rem;
  }
  @media (max-width: 576px) {
    font-size: 2.5rem;
  }
}

.ul {
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3) !important;

    .nav-link {
      color: #ffffff !important;
    }

    .bi {
      color: #ED6A5A !important;
    }

    .navbar-toggler {
      background-color: black !important;
    }
  }
}
