
$primary: #ffffff;
$dark: #3f3f3f;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

.bg-orange {
  background-color: #ED6A5A;
}

//#F1C40F

.landing-p {
  height: 60dvh;
}

.xl-text {
  font-size: 8rem;
}

.navbar {
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3) !important;

    .nav-link {
      color: black !important;
    }

    .bi {
      color: black !important;
    }

    .navbar-toggler {
      background-color: black !important;
    }
  }
}
